<nav class="navbar fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">Roommates</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Go to your Profile" data-placement="bottom" routerLink="/profile">
                    <i class="material-icons">face</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Explore Roommates" data-placement="bottom" routerLink="/explore">
                    <i class="material-icons">explore</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Chat with your Matches" data-placement="bottom" routerLink="/chat">
                    <i class="material-icons">chat</i>
                </a>
            </li>
        </ul>
    </div>
</nav>
