<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/backlit-clouds-friends-853168.jpg')">
        <div class="container">
            <div class="title">
                <h1 class="home-title">The Place to Find Your Roommates</h1>
                <p>&nbsp;</p>
                <div class="fog-low">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
                <button type="button" class="btn btn-light" routerLink="">Get Started</button>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
</div>
