<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/action-attack-backlit-1765126.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                  <div class="card card-register">
                      <h3 class="title">Sign In</h3>
                      <form #f="ngForm" (ngSubmit)="onLogin()">
                          <div class="login-fields">
                              <mat-form-field>
                                  <input matInput type="email" [(ngModel)]="user.email" placeholder="Email" name="email" email required/>
                              </mat-form-field>
                              <mat-form-field>
                                  <input matInput type="password" [(ngModel)]="user.password" placeholder="Password" name="password" required/>
                              </mat-form-field>
                              <br/>
                              <div class="text-center">
                                  <button mat-raised-button color="primary" type="submit" [disabled]="!f.form.valid">Sign In</button>
                                  <br/>
                                  <button mat-button>Forgot Password</button>
                              </div>
                          </div>
                      </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
