<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/action-attack-backlit-1765126.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                  <div class="card card-register">
                      <h3 class="title">Sign In</h3>
                      <mat-form-field>
                          <input matInput placeholder="Email" required/>
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="Password" required/>
                      </mat-form-field>
                      <br/>
                      <div class="text-center">
                          <button mat-raised-button color="primary">Sign In</button>
                          <br/>
                          <button mat-button>Forgot Password</button>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
