<div class="banner">
    <h1 class="title">Explore</h1>
</div>
<div class="users">
    <div class="container">
    	<div class="row">
            <div class="col"></div>
            <div class="col-5">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{potential.firstName}} {{potential.lastName}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src={{potential.picture}} alt="User Profile Picture">
                    <mat-card-content>
                        <p>{{potential.description}}</p>
                        <ul>
                            <li>Sleep: {{potential.sleep}}</li>
                            <li>Eat: {{potential.eat}}</li>
                            <li>Neat: {{potential.neat}}</li>
                            <li>Social: {{potential.social}}</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions class="buttons">
                        <button mat-raised-button color="primary" (click)="like()">LIKE</button>
                        <button mat-raised-button color="accent" (click)="dislike()">DISLIKE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col"></div>
    	</div>
    </div>
</div>
