.banner {
    background-image: url("/assets/img/animal-cat-cute-46024.jpg");
    background-size: cover;
    height: 200px;
    left: 0;
    position: relative;
    top: 0;
    background-position: 0;
    width: 100%;
    text-align: center;
}

.title {
    position: relative;
    top: 50%;
    color: white;
    letter-spacing: 3px;
}

.users {
    padding-top: 50px;
}

.buttons {
    text-align: center;
}

ul {
    columns: 2;
}
