<div class="banner">
    <h1 class="title">Explore</h1>
</div>
<div class="users">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-3 col-sm-6">
                <div class="card hovercard">
                    <div class="avatar">
                        <img alt="" src="http://lorempixel.com/150/150/people/9/">
                    </div>
                    <div class="info">
                        <div class="title">
                            <a target="_blank" href="">Jane Doe</a>
                        </div>
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                    <div class="bottom">
                        <button type="button" class="btn btn-default btn-sm test0">
                            <i class="material-icons">brightness_3</i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm test4">
                            <i class="material-icons">restaurant</i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm test2">
                            <i class="material-icons">local_laundry_service</i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm test3">
                            <i class="material-icons">people</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card hovercard">
                    <div class="avatar">
                        <img alt="" src="http://lorempixel.com/150/150/people/8/">
                    </div>
                    <div class="info">
                        <div class="title">
                            <a target="_blank" href="">Bob Jones</a>
                        </div>
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                    <div class="bottom">
                        <button type="button" class="btn btn-default btn-sm test5">
                            <i class="material-icons">brightness_3</i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm test3">
                            <i class="material-icons">restaurant</i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm test4">
                            <i class="material-icons">local_laundry_service</i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm test5">
                            <i class="material-icons">people</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card hovercard">
                    <div class="avatar">
                        <img alt="" src="http://lorempixel.com/150/150/people/7/">
                    </div>
                    <div class="info">
                        <div class="title">
                            <a target="_blank" href="">Jim Daves</a>
                        </div>
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                    <div class="bottom">
                        <button type="button" class="btn btn-default btn-sm test2">
                            <i class="material-icons">brightness_3</i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm test1">
                            <i class="material-icons">restaurant</i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm test2">
                            <i class="material-icons">local_laundry_service</i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm test3">
                            <i class="material-icons">people</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card hovercard">
                    <div class="avatar">
                        <img alt="" src="http://lorempixel.com/150/150/people/6/">
                    </div>
                    <div class="info">
                        <div class="title">
                            <a target="_blank" href="">Sam Williams</a>
                        </div>
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                    <div class="bottom">
                        <button type="button" class="btn btn-default btn-sm test3">
                            <i class="material-icons">brightness_3</i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm test3">
                            <i class="material-icons">restaurant</i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm test3">
                            <i class="material-icons">local_laundry_service</i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm test3">
                            <i class="material-icons">people</i>
                        </button>
                    </div>
                </div>
            </div>
    	</div>
    </div>
