<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/friends-friendship-mountain-1974927.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-8 mr-auto ml-auto">
                  <div class="card card-register">
                      <h3 class="title">Profile</h3>
                      <form #f="ngForm" (ngSubmit)="onUpdate()">
                          <div class="login-fields">
                              <mat-form-field>
                                  <input matInput type="email" [(ngModel)]="user.email" placeholder="Email" name="email" email/>
                              </mat-form-field>
                              <mat-form-field>
                                  <input matInput type="password" [(ngModel)]="user.password" placeholder="New Password" name="password"/>
                              </mat-form-field>
                              <mat-form-field>
                                  <input matInput type="password" [(ngModel)]="user.confirmPassword" placeholder="Confirm New Password" name="password"/>
                              </mat-form-field>
                              <mat-form-field>
                                  <input matInput type="text" [(ngModel)]="user.firstName" placeholder="First Name" name="firstName"/>
                              </mat-form-field>
                              <mat-form-field>
                                  <input matInput type="text" [(ngModel)]="user.lastName" placeholder="Last Name" name="lastName"/>
                              </mat-form-field>
                              <mat-form-field>
                                  <textarea matInput type="text" [(ngModel)]="user.description" placeholder="Description" name="description"></textarea>
                              </mat-form-field>
                              <mat-form-field>
                                  <mat-select [(ngModel)]="user.gender" placeholder="Gender" name="gender">
                                      <mat-option value="m">Male</mat-option>
                                      <mat-option value="f">Female</mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <mat-form-field>
                                  <input matInput [(ngModel)]="user.birthdate" [matDatepicker]="picker"  placeholder="Birthdate" name="birthdate"/>
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                              <mat-form-field>
                                  <input matInput type="text" [(ngModel)]="user.city" placeholder="City" name="city"/>
                              </mat-form-field>
                              <mat-form-field>
                                  <mat-select [(ngModel)]="user.state" placeholder="State" name="state">
                                      <mat-option value="AL">AL</mat-option>
                                      <mat-option value="AK">AK</mat-option>
                                      <mat-option value="AZ">AZ</mat-option>
                                      <mat-option value="AR">AR</mat-option>
                                      <mat-option value="CA">CA</mat-option>
                                      <mat-option value="CO">CO</mat-option>
                                      <mat-option value="CT">CT</mat-option>
                                      <mat-option value="DE">DE</mat-option>
                                      <mat-option value="FL">FL</mat-option>
                                      <mat-option value="GA">GA</mat-option>
                                      <mat-option value="HI">HI</mat-option>
                                      <mat-option value="ID">ID</mat-option>
                                      <mat-option value="IL">IL</mat-option>
                                      <mat-option value="IN">IN</mat-option>
                                      <mat-option value="IA">IA</mat-option>
                                      <mat-option value="KS">KS</mat-option>
                                      <mat-option value="KY">KY</mat-option>
                                      <mat-option value="LA">LA</mat-option>
                                      <mat-option value="ME">ME</mat-option>
                                      <mat-option value="MD">MD</mat-option>
                                      <mat-option value="MA">MA</mat-option>
                                      <mat-option value="MI">MI</mat-option>
                                      <mat-option value="MN">MN</mat-option>
                                      <mat-option value="MS">MS</mat-option>
                                      <mat-option value="MO">MO</mat-option>
                                      <mat-option value="MT">MT</mat-option>
                                      <mat-option value="NE">NE</mat-option>
                                      <mat-option value="NV">NV</mat-option>
                                      <mat-option value="NH">NH</mat-option>
                                      <mat-option value="NJ">NJ</mat-option>
                                      <mat-option value="NM">NM</mat-option>
                                      <mat-option value="NY">NY</mat-option>
                                      <mat-option value="NC">NC</mat-option>
                                      <mat-option value="ND">ND</mat-option>
                                      <mat-option value="OH">OH</mat-option>
                                      <mat-option value="OK">OK</mat-option>
                                      <mat-option value="OR">OR</mat-option>
                                      <mat-option value="PA">PA</mat-option>
                                      <mat-option value="RI">RI</mat-option>
                                      <mat-option value="SC">SC</mat-option>
                                      <mat-option value="SD">SD</mat-option>
                                      <mat-option value="TN">TN</mat-option>
                                      <mat-option value="TX">TX</mat-option>
                                      <mat-option value="UT">UT</mat-option>
                                      <mat-option value="VT">VT</mat-option>
                                      <mat-option value="VA">VA</mat-option>
                                      <mat-option value="WA">WA</mat-option>
                                      <mat-option value="WV">WV</mat-option>
                                      <mat-option value="WI">WI</mat-option>
                                      <mat-option value="WY">WY</mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <h6>Sleep</h6>
                              <mat-slider [(ngModel)]="user.sleep" name="sleep" color="primary" thumbLabel tickInterval="1" min="1" max="10"></mat-slider>
                              <h6>Eat</h6>
                              <mat-slider [(ngModel)]="user.eat" name="eat" color="primary" thumbLabel tickInterval="1" min="1" max="10"></mat-slider>
                              <h6>Neat</h6>
                              <mat-slider [(ngModel)]="user.neat" name="neat" color="primary" thumbLabel tickInterval="1" min="1" max="10"></mat-slider>
                              <h6>Social</h6>
                              <mat-slider [(ngModel)]="user.social" name="social" color="primary" thumbLabel tickInterval="1" min="1" max="10"></mat-slider>
                              <mat-form-field>
                                  <input matInput type="text" [(ngModel)]="user.desiredCity" placeholder="Desired City" name="desiredCity"/>
                              </mat-form-field>
                              <mat-form-field>
                                  <mat-select [(ngModel)]="user.desiredState" placeholder="Desired State" name="desiredState">
                                      <mat-option value="AL">AL</mat-option>
                                      <mat-option value="AK">AK</mat-option>
                                      <mat-option value="AZ">AZ</mat-option>
                                      <mat-option value="AR">AR</mat-option>
                                      <mat-option value="CA">CA</mat-option>
                                      <mat-option value="CO">CO</mat-option>
                                      <mat-option value="CT">CT</mat-option>
                                      <mat-option value="DE">DE</mat-option>
                                      <mat-option value="FL">FL</mat-option>
                                      <mat-option value="GA">GA</mat-option>
                                      <mat-option value="HI">HI</mat-option>
                                      <mat-option value="ID">ID</mat-option>
                                      <mat-option value="IL">IL</mat-option>
                                      <mat-option value="IN">IN</mat-option>
                                      <mat-option value="IA">IA</mat-option>
                                      <mat-option value="KS">KS</mat-option>
                                      <mat-option value="KY">KY</mat-option>
                                      <mat-option value="LA">LA</mat-option>
                                      <mat-option value="ME">ME</mat-option>
                                      <mat-option value="MD">MD</mat-option>
                                      <mat-option value="MA">MA</mat-option>
                                      <mat-option value="MI">MI</mat-option>
                                      <mat-option value="MN">MN</mat-option>
                                      <mat-option value="MS">MS</mat-option>
                                      <mat-option value="MO">MO</mat-option>
                                      <mat-option value="MT">MT</mat-option>
                                      <mat-option value="NE">NE</mat-option>
                                      <mat-option value="NV">NV</mat-option>
                                      <mat-option value="NH">NH</mat-option>
                                      <mat-option value="NJ">NJ</mat-option>
                                      <mat-option value="NM">NM</mat-option>
                                      <mat-option value="NY">NY</mat-option>
                                      <mat-option value="NC">NC</mat-option>
                                      <mat-option value="ND">ND</mat-option>
                                      <mat-option value="OH">OH</mat-option>
                                      <mat-option value="OK">OK</mat-option>
                                      <mat-option value="OR">OR</mat-option>
                                      <mat-option value="PA">PA</mat-option>
                                      <mat-option value="RI">RI</mat-option>
                                      <mat-option value="SC">SC</mat-option>
                                      <mat-option value="SD">SD</mat-option>
                                      <mat-option value="TN">TN</mat-option>
                                      <mat-option value="TX">TX</mat-option>
                                      <mat-option value="UT">UT</mat-option>
                                      <mat-option value="VT">VT</mat-option>
                                      <mat-option value="VA">VA</mat-option>
                                      <mat-option value="WA">WA</mat-option>
                                      <mat-option value="WV">WV</mat-option>
                                      <mat-option value="WI">WI</mat-option>
                                      <mat-option value="WY">WY</mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <mat-form-field>
                                  <mat-select [(ngModel)]="user.desiredGender" placeholder="Desired Gender" name="desiredGender">
                                      <mat-option value="m">Male</mat-option>
                                      <mat-option value="f">Female</mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <h6>Minimum Rent</h6>
                              <mat-slider [(ngModel)]="user.minRent" name="minRent" color="primary" thumbLabel tickInterval="100" min="100" max="10000" step="100"></mat-slider>
                              <h6>Maximum Rent</h6>
                              <mat-slider [(ngModel)]="user.maxRent" name="maxRent" color="primary" thumbLabel tickInterval="100" min="100" max="10000" step="100"></mat-slider>
                              <br/>
                              <div class="text-center">
                                  <button mat-raised-button color="primary" type="submit">Update</button>
                                  <br/>
                              </div>
                          </div>
                      </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
