<div class="container-background">
    <div class="background-image" style="background-image: url('assets/img/couple-freedom-friends-1066801.jpg');"></div>
    <form #f="ngForm" (ngSubmit)="onRegister()" class="register-form">
        <div class="register-fields">
            <h3>Welcome</h3>
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="user.firstName" placeholder="First Name" name="firstName" required/>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="user.lastName" placeholder="Last Name" name="lastName" required/>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="email" [(ngModel)]="user.email"  placeholder="Email" name="email" email required/>
            </mat-form-field>
            <mat-form-field>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" placeholder="Password" name="password" required/>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.confirmPassword" placeholder="Confirm Password" name="confirmPassword" required/>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <button class="register-button" mat-raised-button color="primary" type="submit" [disabled]="!f.form.valid">Register</button>
        </div>
    </form>
</div>
